[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
"pep8-naming" = "*"
twine = "*"

[packages]
python-gitlab = "*"
prometheus_client = "*"
maya = "*"

[scripts]
start = "python gitlab_languages.py --cache language_cache.pickle --args owned=True"
lint = "flake8 ."

[requires]
python_version = "3.7"
