[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
twine = "*"

[packages]
python-gitlab = "*"
prometheus_client = "*"
maya = "*"

[scripts]
start = "python gitlab_languages.py --project_limit 10 --args owned=True visibility=public --cache language_cache.json"
lint = "black --check ."
