[tool.poetry]
name = "gitlab-languages"
version = "2.1.0"
description = "Utility to generate a Prometheus data source"
authors = ["Max Wittig"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
python-gitlab = "^2.3.0"
prometheus_client = "^0.8.0"
maya = "^0.6.1"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
gitlab-languages = "gitlab_languages.__main__:main"
gitlab_languages = "gitlab_languages.__main__:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
